@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
pre {
    @apply bg-base-200 text-base-content
}


@plugin "daisyui/theme" {
    name: "lig";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(71% 0.143 215.221);
    --color-primary-content: oklch(98% 0.019 200.873);
    --color-secondary: oklch(63% 0.237 25.331);
    --color-secondary-content: oklch(97% 0.013 17.38);
    --color-accent: oklch(76% 0.233 130.85);
    --color-accent-content: oklch(98% 0.031 120.757);
    --color-neutral: oklch(44% 0.043 257.281);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(60% 0.118 184.704);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(59% 0.249 0.584);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 2px;
    --depth: 1;
    --noise: 1;
  }
  